
    
    .li{
        text-decoration:line-through;
    }
    .footer{
    background-color: #EDF2F4;
    }
    h5{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .news{
        background-color: #EF233C;
    }
    .letter{
        letter-spacing: 5px;
    }
    .news-content{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    }
    .btn-dark{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    
    
    
    
    
    
    
    
    