.recent {
 display: flex;
 justify-content: center;
 margin: 30px;
   
}



.card {
    position: relative;
    display: flex; 
     flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    width: 200px;
   
}
@media screen and (max-width:960) {
    .recent {
        width: 150px;
        height: 50px;
    }

    #card-product {
        width: 150px;
        margin: 30px;
       
    }
}